/*
1. Default
2. Header
3. Main
*/


/* Default */

:root {
    --light-gray: #d7d5d6;
    --gray: #535051;
    --blue: #c5ecfc;
    --pink: #fbdae0;
}

body {
    font-size: 20px;
    font-family: arial;
}

h1, h2, h3 {
    font-family: Helvetica;
}

img {
    width: 5.5em;
    border: solid 0.25em var(--pink);
    border-radius: 1em;
}

.light {
    color: var(--gray);
}

/* End Default */


/* Header */

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--blue);
    border-radius: 0.25em 0.25em 1em 1em;
    padding: 0.25em 0;
    margin-bottom: 0.5em;
}

header > h1, header > section {
    width: 26.5vw;
}

header > section > *{
    margin-left: 5vw;
}

header > section > a, header > section > a:visited {
    color: black;
}
header > section > a:hover {
    color: var(--pink);
}

/* End Header */


/* Main */

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(15, 10vh);
    grid-gap: 1em;
}

main > section {
    border: solid 0.25em var(--pink);
    border-radius: 1em;
}

main > section > * {
    margin: 0 0.5em;
}

main > section > h2 {
    margin: 0.5em 0 1em 0.5em;
}

main > section > div > * {
    margin: 0 0.25em;
}

#bio {
    grid-column: 1;
    grid-row: 1/5;
}

#bio > ul > li {
    margin-bottom: 3em;
}

#education {
    grid-column: 2;
    grid-row: 1/5;
}

#education > div {
    margin-bottom: 3em;
}

#experience {
    grid-column: 1;
    grid-row: 5/15;
}

#experience > div {
    margin-bottom: 5em;
}

#skills {
    grid-column: 2;
    grid-row: 5/9;
}

#skills > ul > li {
    margin-bottom: 0.5em;
}

#assessments {
    grid-column: 3;
    grid-row: 1/15;
}

#assessments > div > h3 {
    font-size: 20px;
}

#assessments > div {
    margin-bottom: 5em;
}

/* End Main */