/*
1. Default
2. Header
3. Main
4. Animations
5. Responsiveness
*/


/* Default */

:root {
    --light-gray: #cccccc;
    --gray: #535051;
    --blue: #c5ecfc;
    --pink: #fbdae0;
}

body {
    font-size: 20px;
    font-family: arial;
    background: linear-gradient(135deg, #c5ecfc, #fbdae0);
}

h1, h2, h3 {
    font-family: Helvetica;
}

h2 {
    text-align: center;
}

img {
    width: 5.5em;
    border: solid 0.25em var(--pink);
    border-radius: 1em;
}

.light {
    color: var(--gray);
}

/* End Default */


/* Header */

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--light-gray);
    border-radius: 0.25em 0.25em 1em 1em;
    padding: 0.25em 0;
    margin-bottom: 0.5em;
}

header > h1, header > section {
    width: 26.5vw;
}

header >img {
    visibility: visible;
}

header > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

header > section > * {
    margin-left: 5vw;
    margin-bottom: 0.5em;
}

header > section > a, header > section > a:visited {
    position: relative;
    color: black;
    text-decoration: none;
}
header > section > a:hover {
    color: var(--pink);
    text-decoration: underline;
    animation: slideDown 0.25s linear;
}

/* End Header */


/* Main */

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(15, 10vh);
    grid-gap: 1em;
}

main > section {
    background: var(--blue);
    border: solid 0.25em var(--pink);
    border-radius: 1em;
}

main > section > * {
    margin: 0 0.5em;
}

main > section > h2 {
    margin: 0.5em 0 1em 0.5em;
}

main > section > div > * {
    margin: 0 0.25em;
}

#bio {
    grid-column: 1;
    grid-row: 1/5;
}

#bio > img {
    visibility: hidden;
    width: 0em;
}

#bio > ul > li {
    margin-bottom: 3em;
}

#education {
    grid-column: 2;
    grid-row: 1/5;
}

#education > div {
    margin-bottom: 3em;
}

#experience {
    grid-column: 1;
    grid-row: 5/15;
}

#experience > div {
    margin-bottom: 5em;
}

#skills {
    grid-column: 2;
    grid-row: 5/9;
}

#skills > ul > li {
    margin-bottom: 0.5em;
}

#assessments {
    grid-column: 3;
    grid-row: 1/15;
}

#assessments > div > h3 {
    font-size: 20px;
}

#assessments > div {
    margin-bottom: 5em;
}

/* End Main */


/* Animations */

@keyframes slideDown {
    0% {
        top: 0em;
    }
    50% {
        top: 0.25em;
    }
    100% {
        top: 0em;
    }
}

/* End Animations */


/* Responsiveness */

@media (max-width: 1000px) {
    body {
        font-size: 16px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    header {
        justify-content: center;
        gap: 2em;
    }

    h1 {
        font-size: 24px;
    }

    header > img {
        width: 0em;
        visibility: hidden;
    }
    header > section {
        width: 10.5em;
    }
    header > section > * {
        margin-left: 0px;
    }

    #bio > img {
        visibility: visible;
        width: 10em;
        margin: 0 6em 0.5em;
    }

    #experience > div {
        margin-bottom: 2em;
    }

    #experience > div:nth-child(5) {
        margin-bottom: 1em;
    }

    #assessments {
        padding-bottom: 1em;
    }
}

/* End Responsiveness */